* {
  box-sizing: border-box;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  font-size: 30px;
}

.slider {
  width: 300px;
  overflow: hidden;
  display: flex;
  margin: 0 10px;
}

.slider__list {
  background: green;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  right: 100px;
  color: #444;
}

.slider__item {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  font-size: 30px;
  background-color: papayawhip;
}

a {
  text-decoration: none;
}

